* {
  box-sizing: border-box;
}
body {
  background-color: #f5f5f5;
  margin: 0 auto;
  line-height: 1.3;
}
ul,
li {
  margin: 0;
  padding: 0;
  list-style: none;
}

.header-image {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height:250px;
}
h2 {
  margin-top: 0;
  margin-bottom: 0.4em;
}

.inner {
  width:100%;
  height:30px;
  background-color:black;
}

/*Flex items*/
.vote-grid {
  display: flex;
  flex-wrap:wrap;
  margin-top: 1.2em;
  margin-right:15em;
  margin-left:15em;
}

.headline {
  display: flex;
  justify-content: center;
}

.welcome {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  flex-wrap: wrap;
}

.contestant-card-information {
  display: flex;
  flex-wrap: wrap;
}
.contestant-information {
  display: flex;
  padding: 0.5em;
  width: 100%;
}
@media all and (min-width: 40em) {
  .contestant-information {
    width: 50%;
  }
}

@media all and (min-width: 60em) {
  .contestant-information {
    width: 33.33%;
  }
}
.contestant-content {
  border: 0.063em solid;
  background-color: #fff;
  display: flex;
  flex-direction: column;
  padding: 1em;
  width: 100%;
}
.contestant-content p {
  flex: 1 0 auto;
}
.contestant-content h2 {
  margin-top: 0.625em;
}

#logout-link {
  padding-left: 5px;
  color: blue;
  text-decoration: underline;
  cursor: pointer;
}

.fbbutton {
  font-size: 1.6em;
}

.log-in-screen {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

